.page-show-id {
  .slick-slider {
    button {
      &.slick-arrow {
        position: absolute;
        top: -3.5rem;
        right: 0;
        left: auto;
        width: 3.5rem;
        height: 3.5rem;
        box-shadow: none;
      }
      &.slick-prev {
        right: 3.5rem;

        &::before {
          content: "\276E";
        }
      }
      &.slick-next::before {
        content: "\276F";
      }
    }
    .slick-list {
      padding-top: 0.5rem;
    }
  }
  .show-info {
    & > .inner {
      display: flex;

      @include breakpoint(medium) {
        flex-direction: column;
      }
    }
    .show-trailer {
      min-width: 600px;
      margin-left: 1rem;

      @include breakpoint(medium) {
        min-width: 0;
        margin-left: 0;
      }
      .trailer-container {
        width: 100%;
        padding-top: 62.5%;
        position: relative;

        iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .cast {
    .cast-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      grid-gap: 2rem;
    }
    .cast-member {
      text-align: center;
      padding: 0 0.5rem;
    }
    .cast-member-img-container {
      position: relative;
      width: 100%;
      padding-top: 100%;
    }
    .cast-member-img {
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-position: top center;
      box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.25);
      overflow: hidden;

      &.default-img {
        background-color: desaturate(darken(_palette(accent2), 30), 10);

        svg {
          width: 100%;
          height: 100%;

          path {
            fill: desaturate(lighten(_palette(accent5), 7), 10);
          }
        }
      }
    }
    .cast-member-role {
      margin: 1em 0 0.5em;
      font-weight: _font(weight-bold);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .cast-member-actor {
      color: _palette(fg-light);
      margin-bottom: 0;
    }
  }
  .spotlights {
    > section {
      &:nth-child(2n) {
        flex-direction: row;
      }
    }
  }
  .related-shows {
    .related-show-slide {
      padding: 0 0.5rem;
    }
    .show-card::before {
      box-shadow: none;
    }
  }
}
