.page-show-id {
  .cast {
    .cast-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      grid-gap: 2rem;
    }
    .cast-member {
      text-align: center;
    }
    .cast-member-img-container {
      position: relative;
      width: 100%;
      padding-top: 100%;
    }
    .cast-member-img {
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-position: center;
    }
    .cast-member-role {
      margin: 1em 0 0.5em;
      font-weight: _font(weight-bold);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .cast-member-actor {
      color: _palette(fg-light);
    }
  }
  .spotlights {
    .image {
      display: flex;
      justify-content: center;

      img {
        margin: 2rem;
        max-height: 25rem;
        width: auto;
      }
    }
  }
}
